/apisix/admin/log/*
!/apisix/admin/log/.keep

/apisix/gateway/log/*
!/apisix/gateway/log/.keep

/etcd/data/*
!/etcd/data/.keep

/mysql/data/*
/redis/data/*
/prometheus/data/*

/consul/data/checks/*
/consul/data/services/*

/elasticsearch/data
/elasticsearch/tmp

/kibana/data

/docs/logs
/ethbw/logs
/canal/logs
/dcron/logs
/scanbsc/logs
/scanlec/logs
/scaneth/logs
/scanheco/logs
/im/logs
/handleim/logs
/handletx1/logs
/xcbridge/logs
/comet/logs
/fluent/log
/postgres